
section article h1{
    text-align: center;
}
section article div{
    width: 70%;
    margin: auto;
}
section article div img{
    margin: 4% auto;
    width: 100%;
    box-shadow: 10px 10px 10px black;
}
