*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
body{
    background-image: radial-gradient(#313131, #101110);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: inline-block;
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px; 
    z-index: 5;
}
header div#encabezado img#logo{
    width: 1.7em;
    filter: brightness(250%) contrast(25%);
}
header div#encabezado h2{
    font-family: Interdimensional;
}
header div#encabezado h3{
    text-transform: uppercase;
    font-weight: normal;
}
header div#encabezado img#logo, header div#encabezado h2{
    display: inline-block;
    padding-right: 5px;
}
header div#encabezado h3, header div#encabezado h5{
    display: inline-block;
    padding-right: 5px;
}
header div#encabezado h5, header div#encabezado h2 span{
    opacity: 0.6;
}
header div#encabezado{
    float: left;
    padding:30px;
}
header div#encabezado a:hover{
    color: aqua;
}
header div#desplegable{
    float: right;
    margin-right: -180px;
}
header div#desplegable:hover{
    transform: translate(-180px);
    transition: 0.5s;
}
header div#desplegable ul{
    list-style-type: none;
    font-size: 1.2em;
}
header div#desplegable ul li{
    display: inline-block;
    line-height: 110px;
}
header div#desplegable ul li a{
    padding: 50px;
    text-decoration: none;
}
header div#desplegable ul li a:hover{
    background-color: aqua;
    color: #414040;
}
section{
    color: white;
    margin-top: 180px;
}
section article{
    width: 65%;
    margin:4% auto;
}
section article h1, section article p{
    padding: 1%;
}
section article h1{
    text-transform: uppercase;
    font-family: calibri;
    font-size: 1.5em;
    letter-spacing: 0.5px;
}
section article p{
    opacity: 0.8;
}
section article#portfolio nav ul.imagenes{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
section article#portfolio nav ul.imagenes li p{
    text-align: center;
    margin-bottom: 15px;
}
section article#portfolio nav ul.imagenes li a{
    display: block;
    flex-wrap: wrap;
}
section article#portfolio nav ul.imagenes li a img{
    border-radius: 2%;
    flex-grow: 1;
    width: 100%;
    filter: grayscale(0.6) opacity(0.7);
    transition: 0.3s;
    padding: 1%;
}
section article#portfolio nav ul.imagenes li a img:hover{
    filter: grayscale(0) opacity(1);
    transition: 0.3s;
}
footer{
    font-size: small;
    padding: 1%;
    background-color:black;
    color: white;
    display: flex;
    justify-content: space-between;
}
footer div{
    width: 8%;
    text-align: center;
}
footer div a:hover{
    color: aqua;
}

@media all and (max-width:1366px) {
    section article nav ul.imagenes{
        flex-direction: column;
    }
}

